{% extends 'Сущности/base.html' %}

{% block title %}
    Путёвка
{% endblock %}

{% block content %}
<div class="create_sub">
    <form action="{% url 'create_travel_package' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn_reg">
            Создать путёвку
        </button>
    </form>
</div>
{% endblock %}