{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'subscriptions/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'subscriptions/css/calendar.css' %}">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <title>
        {% block title %}
            Sun
        {% endblock %}
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
            integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
            crossorigin="anonymous"></script>

</head>
<body>

<!--Весь контент-->
<div class="container-fluid">
    <div class="row">
        <h3 class="nav">
            {% if user.is_superuser %}
                <a class="admin" href="http://127.0.0.1:8000/admin/">Админ</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'login' %}">
                    <img src="{% static 'subscriptions/images/login.svg' %}" width="30px" height="30px" alt="login">
                </a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
    {% block info %}
    {% endblock %}
</div>
<!--------------------------------------------------------------------------------------------------------------------->
</body>
</html>