{% extends 'Сущности/base.html' %}
{% load static %}

{% block title %}
    Календарь
{% endblock %}

{% block content %}
<div class="calendar-container">
    <div class="calendar">
        <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date">
                <h1></h1>
            </div>
            <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
            <div>Пн</div>
            <div>Вт</div>
            <div>Ср</div>
            <div>Чт</div>
            <div>Пт</div>
            <div>Сб</div>
            <div>Вс</div>
        </div>
        <div class="days"></div>
    </div>
</div>
<script type="text/javascript">
const date = new Date();

const renderCalendar = () => {
    console.log(date);
    date.setDate(1);

    const monthDays = document.querySelector(".days");

    const lastDay = new Date(
        date.getFullYear(),
        date.getMonth() + 1,
        0
    ).getDate();

    const prevLastDay = new Date(
        date.getFullYear(),
        date.getMonth(),
        0
    ).getDate();

    const firstDayIndex = date.getDay() - 1;

    console.log(firstDayIndex);

    const lastDayIndex = new Date(
        date.getFullYear(),
        date.getMonth() + 1,
        0
    ).getDay();

    const nextDays = 7 - lastDayIndex - 1;

    const months = [
        "Январь",
        "Февраль",
        "Март",
        "Апрель",
        "Май",
        "Июнь",
        "Июль",
        "Август",
        "Сентябрь",
        "Октябрь",
        "Ноябрь",
        "Декабрь",
    ];

    document.querySelector(".date h1").innerHTML = months[date.getMonth()];

    let days = "";

    for (let x = firstDayIndex; x > 0; x--) {
        days += `<div class="prev-date">${prevLastDay - x + 1}</div>`;
    }

    let flag = false;
    for (let i = 1; i <= lastDay; i++) {
        {% for date in dates %}
            if (i == {{ date.day }}
            ) { 
                flag = true;
            }
        {% endfor %}

        if (
            i === new Date().getDate() &&
            date.getMonth() === new Date().getMonth() &&
            flag
        ) {
            days += `<div class="today has-sub">${i}</div>`;
        } else if (i === new Date().getDate() && date.getMonth() === new Date().getMonth()) {
            days += `<div class="today">${i}</div>`;
        } else if (flag) {
            days += `<div class="has-sub">${i}</div>`;
        }
        else {
            days += `<div>${i}</div>`;
        }
        flag = false;
    }
    for (let j = 1; j <= nextDays + 1; j++) {
        days += `<div class="next-date">${j}</div>`;
        monthDays.innerHTML = days;
    }
};

document.querySelector(".prev").addEventListener("click", () => {
    date.setMonth(date.getMonth() - 1);
    renderCalendar();
});

document.querySelector(".next").addEventListener("click", () => {
    date.setMonth(date.getMonth() + 1);
    renderCalendar();
});
renderCalendar();
</script>
{% endblock %}