{% extends 'Сущности/base.html' %}

{% block title %}
Изменение пароля пользователя {{ name }}
{% endblock %}

{% block content %}
<center>
    <h1 class="mt-5">
        <font color=#e9204f >{{ user.first_name }}</font>, Вы хотите изменить пароль?
    </h1>
</center>
<div class="login">
    <form action="{% url 'change-password' %}" method="post">
    {% csrf_token %}
        <p>{{ form.old_password }}</p>
        <p>{{ form.new_password1 }}</p>
        <p>{{ form.new_password2 }}</p>
        <button type="submit" class="btn_reg">
            Сохранить
        </button>
    </form>
</div>
{% endblock %}
