{% extends 'Сущности/base.html' %}

{% block title %}
    Удаление подписки
{% endblock %}


{% block content %}
<div class="delete_sub">
    <h4>Вы уверены, что хотие удалить подписку?</h4>
    <form action="{% url 'delete' slug=sub.slug %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn_del">Удалить</button>
    </form>
    <a class="cancel" href="{% url 'subs' %}">Отмена</a>
</div>
{% endblock %}