{% extends 'Сущности/base.html' %}

{% block title %}
    Изменение подписки
{% endblock %}


{% block content %}
<div class="create_sub">
    <form action="{% url 'edit' slug=sub.slug %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {{ field }}
        {% endfor %}
        <button type="submit" class="btn_reg">
            Изменить
        </button>
    </form>
</div>
{% endblock %}
