{% extends 'Сущности/base.html' %}
{% load static %}

{% block title%}
    Sun
{% endblock title %}
{% block info %}
<div class="container-fluid">
    <div class="intro">
        <div class="container">
            <div class="intro_inner">
                {% if not user.is_authenticated %}
                    <h1 class="intro_title">Sun</h1>
                    <a href="{% url 'login' %}" class="btn_info">Ввойти в систему</a>
                {% else %}
                    <a class="intro_title" href="{% url 'create' %}">Начать оформление</a>
                    <a class="intro_title" href="{% url 'profile' %}">Ваш профиль</a>
                {% endif %}
            </div>
        </div>
    </div>
    <a id="info"></a>

<script type="text/javascript">
const anchors = document.querySelectorAll('a[href*="#"]')

for (let anchor of anchors) {
  anchor.addEventListener('click', function (e) {
  e.preventDefault()

  const blockID = anchor.getAttribute('href').substr(1)

  document.getElementById(blockID).scrollIntoView({
  behavior: 'smooth',
  block: 'start'
  })
  })
}
</script>
{% endblock %}