{% extends 'Сущности/base.html' %}
{% load static %}

{% block title %}
    Ваш профиль
{% endblock %}
{% block content %}
    <div class="main">
        <div class="row">
            <div class="intro_title">
                Привет, {{ name }}!
            </div>
            <div class="intro_inner">
                Вы продали эти путёвки:
                {% for i in packages %}
                    <div>Тур: {{ i.tour }}</div>
                    <div>Дата отправления: {{ i.start }}</div>
                    <div>Дата прибытия: {{ i.end }}</div>
                    <div>Место отправления: {{ i.location_from }}</div>
                    <div>Место прибытия: {{ i.location_to }}</div>
                    <div>---------------------------------</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="{% url 'create' %}" class="btn_info">Создать путёвку</a>
{% endblock %}