body {
    background: #000;
	color: white;
	height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
    color: white;
}

/* Карточки подписок */
.wrap {
    margin-left: 50px;
	display: flex;
	align-items: flex-start;
}

.informBlock {
    margin: 15px 0 15px 0;
	width: 400px;
	height: 140px;
	background: #1b1b1b;
	padding: 20px;
	box-sizing: border-box;
	transition: .4s;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.inner_button {
    display: flex;
    justify-content: space-between;
    width: 75px;
    padding: 6px 0 6px 0;
}

.date {
    font-size: 16px;
    margin-top: 15px;
    opacity: 0.5;
}

.mainText {
	color: #fff;
	font-size: 30px;
}

.underlineBlock {
	height: 0;
	width: 35px;
	border-top: 2px solid #e9204f;
	margin-top: 10px;
	transition: .4s;
}

.secondText {
	color: #fff;
	font-size: 20px;
	margin-top: 10px;
}

.informBlock:hover {
	background: #e9204f;
}

.informBlock:hover i {
	color: #fff;
}

.informBlock:hover .underlineBlock {
	border-color: #fff;
}

a:hover {
  text-decoration: none;
}

/* Кнопка добавления */
.add_subs {
    position: sticky;
    bottom: 20px;
    margin: 0 0 20px 50px;
    width: 400px;
	height: 90px;
	background: #e9204f;
	text-align: center;
	font-size: 25px;
	padding: 25px;
}

.center_add_subs {
    position: absolute;
    width: 400px;
	height: 90px;
	background: #e9204f;
	text-align: center;
	font-size: 25px;
	padding: 25px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-right: -45px;
	animation: radial-pulse 1.2s infinite;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(233, 32, 79, 0.9);
  }

  100% {
    box-shadow: 0 0 0 40px rgba(233, 32, 79, 0);
  }
}

/* Регистрация и вход */
.login {
	background: #1b1b1b;
	width: 350px;
	height: 500px;
	position: absolute;
	top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    margin:0 auto;
    left: 0;
    right: 0;
}

.login h1 {
    margin-bottom: 30px;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form p input {
    width: 250px;
    height: 35px;
	border: none;
	outline: none;
	transition: all 0.4s;
}

.login form p input:focus {
	background: rgb(194, 194, 194);
}

.btn_reg {
	width: 250px;
	height: 35px;
	margin: 8px;
	background: #e9204f;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.4s;
	color: white;
}

.login_error {
    padding: 10px 10px 10px 10px;
    border: 3px solid #e9204f;
    color: #e9204f;
    background-color: rgba(233, 32, 79, 0.3);
    width: 250px;
    text-align: center;
}

.show_name {
    animation: show 3s;
    color: #e9204f
}
@keyframes show {
    from {opacity: 0;} to {opacity: 1;}
}

/* Диаграмма */
.diagram {
    margin: 40px auto;
    width: 550px;
    height: 550px;
    position: sticky;
    top: 12%;
    text-align: center;
}

.title_diagram {
    color: #fff;
	font-size: 20px;
	margin-top: 30px;
}

/* Navigation */
.nav {
    margin-top: 30px;
    padding-top: 10px;
    position: fixed;
    z-index: 1000;
    height: 30px;
    width: 190px;
    right: 30px;
    justify-content: space-between;
}

.main {
    margin-top: 30px;
}


/* Создание подписки */
.create_sub {
	background: #1b1b1b;
	width: 350px;
	height: 550px;
	position: absolute;
	top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    margin:0 auto;
    left: 0;
    right: 0;
}


.create_sub form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_sub form input {
    width: 250px;
    height: 35px;
	border: none;
	outline: none;
	transition: all 0.4s;
	margin-bottom: 10px;
}

.create_sub form select {
    width: 250px;
    height: 35px;
	border: none;
	outline: none;
	transition: all 0.4s;
	margin-bottom: 10px;
}

.create_sub form select:focus {
	background: rgb(194, 194, 194);
}

.create_sub form input:focus {
	background: rgb(194, 194, 194);
}

/* Удаление подписки */
.delete_sub {
	background: #1b1b1b;
	width: 550px;
	height: 220px;
	position: absolute;
	top: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    margin:0 auto;
    left: 0;
    right: 0;
}

.delete_sub h4 {
    margin-bottom: 30px;
}

.btn_del {
	width: 180px;
	height: 35px;
	margin: 8px;
	background: #e9204f;
	border: none;
	outline: none;
	cursor: pointer;
	color: white;
}

.cancel:hover {
    color: #e9204f;
    transition: all 0.4s;
}


/* Intro */
.intro {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
    font-weight: 700;
    font-size: 130px;
    line-height: 1;
}
.admin {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
}
.intro_title:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #e9204f;
    margin: 50px auto;

}

.btn_info {
    display: inline-block;
    vertical-align: top;

    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 14px;

    border: 3px solid white;
    padding: 8px 30px;
    transition: color 0.3s;
}

.btn_info:hover {
    color: #e9204f;
}

.info_text {
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 80%;
}

.images {
    display: flex;
    justify-content: space-between;
}

.image_item {
    width: 30%;
}

.myCost{
    font-size: 24px;
    position: absolute;
    top: 270px;
    right: 230px;
    width: 90px;
    height: 90px;
    z-index: 10;
}

.errorlist {
    list-style-type: none;
    border: 3px solid #e9204f;
    color: #e9204f;
    background-color: rgba(233, 32, 79, 0.3);
    width: 250px;
    text-align: center;
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.register_done{
    position:absolute;
    top:50%;
    left:50%;
}