{% extends "Сущности/base.html" %}

{% block content %}

<div class="login">
    <h1>Вход</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <p>{{ form.password }}</p>
        <button type="submit" class="btn_reg"> Войти </button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    {% if form.errors %}
        <div class="login_error">
            Не удаётся войти.<br>Проверьте правильность написания логина и пароля.
        </div>
    {% endif %}
</div>
{# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}