{% extends 'Сущности/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="register_done">
    <h1>Приветствую тебя, <span class="show_name"> {{ new_user.first_name }}!</span></h1>
        <p>Твой аккаунт был успешно создан!</p>
    </div>
{% endblock %}