{% extends 'Сущности/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="login">
    <h1>Регистрация</h1>
    <form action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn_reg"> Зарегистрироваться</button>
    </form>
</div>
{% endblock %}