{% extends 'Сущности/base.html' %}

{% block title %}
    Попутчик
{% endblock %}

{% block content %}
<div class="create_sub">
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <a type="submit" class="btn_reg" href="{% url 'create_travel_package' %}">
            Создать запись или пропустить
        </a>
    </form>
</div>
{% endblock %}