{% extends 'Сущности/base.html' %}

{% block title %}
    Турсит
{% endblock %}

{% block content %}
<div class="create_sub">
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn_reg">
            Создать запись о туристе
        </button>
    </form>
</div>
{% endblock %}